<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @coupon.price %>
</p>

<p>
  <strong>Airline:</strong>
  <%= @coupon.airline_id %>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
