<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @airport.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @airport.city_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @airport.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @airport.phone %>
</p>

<%= link_to 'Edit', edit_airport_path(@airport) %> |
<%= link_to 'Back', airports_path %>
